.form-group-button {
    display: flex;
}

.form-group-button .form-control {
    margin-right: 1rem;
}


.loading-block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    margin: 2rem 0;
}

.time-container {
    display: flex;
    justify-content: center;
}

.time-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-container .time-label {
    margin-right: 0.5rem;
}

.time-container .time-to .time-label {
    margin-left: 1rem;
}

.time-container .time-control {
    margin-right: 0.5rem;
}

.empty{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;
    color: #e3e8ee;
}

.empty i{
    font-size: 100px;
}

.empty p{
    font-size: 20px;
}